<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.domi04151309.alwayson">

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SetupActivity"
            android:theme="@style/SetupTheme" />

        <receiver
            android:name=".AdminReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".alwayson.AlwaysOn"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/AppTheme.ScreenOff" />

        <service
            android:name=".alwayson.AlwaysOnQS"
            android:icon="@drawable/ic_refresh"
            android:label="@string/AlwaysOn"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <activity
            android:name=".alwayson.AlwaysOnDemo"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.ScreenOff" />

        <receiver
            android:name=".AutoStart"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ChargeInfoReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".charging.Flash"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".edge.Edge"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/AppTheme.ScreenOff" />
        <activity
            android:name=".edge.EdgeDemo"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:taskAffinity=""
            android:theme="@style/AppTheme.ScreenOff" />

        <service
            android:name=".edge.EdgeQS"
            android:icon="@drawable/ic_refresh"
            android:label="@string/Edge"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <activity
            android:name=".Headset"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionbar" />

        <receiver
            android:name=".HeadsetInfoReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_HEADSET_PLUG" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity" />

        <service
            android:name=".MainService"
            android:enabled="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:permission="" />
        <service
            android:name=".NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".GlanceLite"
            android:label="@string/glance_lite_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_lite_info" />
        </receiver>

        <activity
            android:name=".Preferences"
            android:label="@string/pref"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.alwayson.MainActivity" />
        </activity>

        <receiver
            android:name=".ScreenStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
                <action android:name="android.intent.action.ACTION_SCREEN_OFF" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".charging.IOS"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionbar" />

        <receiver
            android:name=".alwayson.AlwaysOnWidget"
            android:label="@string/AlwaysOn">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/always_on_widget_info" />
        </receiver>
        <receiver
            android:name=".edge.EdgeWidget"
            android:label="@string/Edge">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/edge_widget_info" />
        </receiver>
    </application>

</manifest>