<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.domi04151309.alwayson"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".preferences.BrightnessActivity"
            android:label="@string/pref_ao_force_brightness_title"
            android:parentActivityName=".preferences.AlwaysOnPreferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.alwayson.preferences.AlwaysOnPreferences" />
        </activity>
        <activity
            android:name=".preferences.ChargingLookActivity"
            android:label="@string/pref_look_and_feel_charging"
            android:parentActivityName=".preferences.LookAndFeelPreferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.alwayson.preferences.LookAndFeelPreferences" />
        </activity>
        <activity
            android:name=".preferences.AlwaysOnLookActivity"
            android:label="@string/pref_look_and_feel_ao"
            android:parentActivityName=".preferences.AlwaysOnPreferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.alwayson.preferences.AlwaysOnPreferences" />
        </activity>
        <activity
            android:name=".TurnOnScreen"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:theme="@style/AppThemeScreenOff" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".preferences.Preferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.alwayson.preferences.Preferences" />
        </activity>
        <activity
            android:name=".SetupActivity"
            android:theme="@style/SetupTheme" />

        <receiver
            android:name=".receivers.AdminReceiver"
            android:description="@string/device_admin_description"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".alwayson.AlwaysOn"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/AppThemeScreenOff" />

        <service
            android:name=".alwayson.AlwaysOnQS"
            android:icon="@drawable/ic_always_on_white"
            android:label="@string/AlwaysOn"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <receiver
            android:name=".receivers.AutoStart"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.ChargeInfoReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".charging.Flash"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/AppThemeNoWindowTransitions" />
        <activity
            android:name=".charging.Circle"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/AppThemeNoWindowTransitions" />
        <activity
            android:name=".Headset"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/AppThemeNoWindowTransitions" />

        <receiver
            android:name=".receivers.HeadsetInfoReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_HEADSET_PLUG" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
        <service
            android:name=".services.ForegroundService"
            android:enabled="true"
            android:exported="false"
            android:permission="" />
        <service
            android:name=".services.NotificationService"
            android:label="@string/notification_listener_description"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".preferences.Preferences"
            android:label="@string/pref"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.alwayson.MainActivity" />
        </activity>
        <activity
            android:name=".preferences.LookAndFeelPreferences"
            android:label="@string/pref_look_and_feel"
            android:launchMode="singleTop"
            android:parentActivityName=".preferences.Preferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.alwayson.preferences.Preferences" />
        </activity>
        <activity
            android:name=".preferences.AlwaysOnPreferences"
            android:label="@string/pref_ao_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".preferences.LookAndFeelPreferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.alwayson.preferences.LookAndFeelPreferences" />
        </activity>
        <activity
            android:name=".preferences.PermissionPreferences"
            android:label="@string/pref_permissions"
            android:launchMode="singleTop"
            android:parentActivityName=".preferences.Preferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.alwayson.preferences.Preferences" />
        </activity>

        <receiver
            android:name=".receivers.ScreenStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
                <action android:name="android.intent.action.ACTION_SCREEN_OFF" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".charging.IOS"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/AppThemeNoWindowTransitions" />

        <receiver
            android:name=".alwayson.AlwaysOnWidget"
            android:label="@string/AlwaysOn">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/always_on_widget_info" />
        </receiver>
    </application>

</manifest>